body{
    background-color: #E7CE90;
}

.Calculadora {
    margin: 0px auto;
    margin-top: 230px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#botaoCalcular{
    margin: 20px;
    background:  #4d4f70;
    width: 80px;
    height: 30px;
    font-size: medium;
    color: aliceblue;
}

#exibeCalculos{
    display: flex;
    color: #090282;
    font-size:large;
    align-items: center;

}

img{
    width: 650px;
    height: 500px;
}

form{
    display: flex;
    flex-flow: column;
    align-items:center ;
    justify-content: space-between;
    font-size: xx-large;
    color: #090282;
}

input{
    width: 90px;
    height: 20px;
    border: solid 5px #fbeed3;
}

::placeholder{
    color: #090282;
}